* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ant-select-selector {
    border: none !important;
    outline: none;
}

.head-icon {
    color: rgb(233, 69, 96);
    font-size: 30px;
}

.icon-head {
    justify-content: end;
}

.help-bg {
    background-color: white;
    padding: 20px;
}

/* Product Card */
.product-card {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    transition: .3s;
}

.product-card p.description {
    font-size: 13px;
    color: var(--color-777777);
}

.product-card a {
    color: rgb(32, 32, 32);
    transition: 0.3s;
}

.product-card a:hover {
    color: rgb(59, 122, 173);
}

.product-card .product-image {
    height: 200px;
}

.product-card .product-image img {
    object-fit: contain;
    transition: 0.3s;
}

.low-padd {
    padding-right: 0px !important;
}

.product-card:hover .action-bar {
    right: 15px;
}

.product-card:hover .action-bar-2 {
    bottom: 15px;
}

.product-card .product-details h6 {
    color: var(--color-bf4800);
    font-size: 13px;
}

.product-card .product-details h5 {
    color: var(--color-131921);
    font-size: 15px;
}

.product-card .product-details p.price {
    color: var(--color-1c1c1b);
}

.action-bar {
    top: 15%;
    right: -54px;
    transition: 0.3s;
}

.action-bar-2 {
    bottom: -19%;
    transition: 0.3s;
    left: 88px;
}

.wishlist-icon {
    top: 2%;
    right: 15px;
}

/* special productd start */
.special-product-card {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

/* special productd end */
.bg-transparent-custom {
    background: #f8f8f8;
    padding: 7px 10px;
    border-radius: 4px;
}

/* compare product card start */
.compare-product-card {
    padding: 20px 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(221, 223, 221);
}

.compare-product-card .cross,
.wishlist-card .cross {
    top: 15px;
    right: 15px;
    width: 22px;
    padding: 3px;
    cursor: pointer;
}

.compare-product-details h5.title,
.wishlist-card h5.title {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: var(--color-1c1c1b);
}

.compare-product-details h6.price,
.wishlist-card h6.price {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

.compare-product-card .product-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* compare product card end */

* contact pages start*/ .contact-inner-wrapper {
    padding: 20px 30px;
    border-radius: 15px;
    background-color: white;
    gap: 15px;
}

.contact-inner-wrapper>div {
    width: 48%;
}

.contact-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
}

.contact-inner-wrapper form .form-control {
    background-color: var(--color-f5f5f7);
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
}

.contact-inner-wrapper ul {
    list-style: none;
}

.contact-inner-wrapper a,
.contact-inner-wrapper p,
.contact-inner-wrapper address {
    color: var(--color-777777);
}

/* contact pages end*/